body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
    margin: 10px 0;
}

#homePage {
    display: none; /* 默认隐藏，通过JS控制显示 */
	width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: flex-end;
}

#homePage > *:not(header) {
}

