<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width,initial-scale=1,maximum-scale=4.0,minimum-scale=0.1,user-scalable=1" />
    <title>FlutasAI</title>
    <link href="./src-image/favicon.png" rel="shortcut icon">
    <link href="./src-css/layui.min.css" rel="stylesheet">
    <link href="./src-css/notyf.min.css" rel="stylesheet">
    <script src="./src-js/jquery.min.js"></script>
    <script src="./src-js/vue.min.js"></script>
    <script src="./src-js/axios.min.js"></script>
    <script src="./src-js/moment.min.js"></script>
    <script src="./src-js/layui.min.js"></script>
    <script src="./src-js/fetch.js"></script>
    <script src="./src-js/notyf.min.js"></script>
    <script src="./src-js/marked.min.js"></script>
    <script src="./src-js/aluk.min.js"></script>
    <style>
        * {
            font-family: consolas, 'Microsoft YaHei UI Light';
        }

        code {
            font-family: consolas, 'Microsoft YaHei UI Light';
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?b2aafc7c030584826f7aa9402ce1880f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <style>
        body {
            background: #fff;
        }

        * {
            box-sizing: border-box;
        }

        .cen {
            text-align: center;
        }


        .layui-colla-content,
        .layui-colla-content * {
            font-size: 14px;
        }

        .layui-colla-content img {
            max-width: 100%
        }

        .layui-colla-content div {
            line-height: 30px;
            font-size: 14px;
        }

        .layui-nav-item img {
            width: 30px;
            height: 30px;
            border-rAdius: 50%;
            margin-right: 10px;
        }

        .layui-nav-item:nth-child(1) a {
            padding-left: 0px;
        }

        .layui-table,
        .layui-table-view {
            margin: 0;
        }

        .setBox {
            position: fixed;
            width: 80%;
            min-height: 60%;
            background: #fff;
            left: 10%;
            top: 10%;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: #999 6px 6px 51px;
            z-index: 9;
            padding: 15px;
            box-sizing: border-box;
        }
    </style>



</head>

<body>

    <div id="app">

        <div>
            <div>


                <ul class="layui-nav">
                    <li class="layui-nav-item"><a :href="'?times='+Now()"><img src="./src-image/favicon.png">Flutas
                            AI</a></li>
                    <ul class="layui-nav" style="right:0px; float: right;">

                        <li class="layui-nav-item" style="right:0" @click="showBox=!showBox"><i
                                class="layui-icon layui-icon-slider"></i> 设置</li>
                        <li class="layui-nav-item" style="float: right">
                            <a href="javascript:;"> <i class="layui-icon layui-icon-username"></i>我</a>
                            <dl class="layui-nav-child"> <!-- 二级菜单 -->
                                <dd><a href="https://support.qq.com/product/600324" target="_blank">反馈</a></dd>
                                <dd><a href="https://flutas-web.github.io/support/flutas-ai/api">接口</a></dd>
                            </dl>
                        </li>
                    </ul>
                </ul>


                <div v-if="showBox" class="setBox layui-anim layui-anim-up">

                    <table class="layui-table " lay-skin="nob" lay-even>
                        <tr>
                            <td>
                                API请求接口设置:<br>
                                <input type="text" v-model="apiUrl" class="layui-input">

                                <br>
                                <a class="layui-btn layui-btn-sm"
                                    @click="apiUrl='https://api.chatanywhere.tech/v1/chat/completions';alert('已将API地址设为ChatAnyWhere国内稳定接口')">ChatAnyWhere
                                    镜像</a>
                                <a class="layui-btn layui-btn-sm"
                                    @click="apiUrl='https://api.openai.com/v1/chat/completions';alert('已将API地址设为官方接口地址,适合国外')">OpenAI
                                    官方</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Token / API KEY 设置<br>
                                <input type="password" v-model="apiKey" class="layui-input">
                                <br>
                                <a class="layui-btn layui-btn-sm" @click="openGzHbc()">获取Token</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Model名称:<br>
                                <input type="text" v-model="apiModel" class="layui-input">
                                <br>
                                <a class="layui-btn layui-btn-sm"
                                    @click="apiModel='gpt-3.5-turbo-1106';">gpt-3.5-turbo-1106</a>
                                <a class="layui-btn layui-btn-sm" @click="apiModel='gpt-3.5-turbo';">gpt-3.5-turbo</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="cen" style="padding-top: 80px;">
                                <a @click="save()" class="layui-btn layui-btn-danger">保存并返回</a>
                            </td>
                        </tr>
                    </table>
                </div>



            </div>




            <table class="layui-table" lay-skin="nob">
            </table>
            <div style="text-align:center; padding-bottom: 15px;display:none;"><img
                    src="data:image/png,base64;"><Br>此功能还在开发中...
            </div>


            <table class="layui-table">
                <tr class=" layui-anim-up layui-anim" style="display: none;">
                    <td>

                        <div>
                            <pre
                                style="font-size: 15px; line-height: 26px;  word-break:break-all; white-space:pre-wrap; background: #EEF1FA;padding:5px; float: left;   margin-top: 10px;max-width:80%;">Flutas AI 已准备就绪</pre>
                        </div>
                    </td>
                </tr>
                <tr v-for="item,key in duiLie" class=" layui-anim-up layui-anim">
                    <td>
                        <span
                            style="color: #fff; float: right; background: #2870EA; padding:5px; font-size: 15px;line-height: 26px; max-width:80%; "
                            @click="Info.wen=item.cxtitlecn1 ? item.cxtitlecn1 : item.wen" v-if="item.wen">
                            {{item.cxtitlecn1 ? item.cxtitlecn1 : item.wen}}
                        </span>
                        <div class="layui-clear"></div>
                        <div @click="Info.wen=item.wen" @click="copy(item.da)">

                            <pre v-if="item.da"
                                style="font-size: 15px; line-height: 26px;  word-break:break-all; white-space:pre-wrap; background: #EEF1FA;padding:5px; float: left;   margin-top: 10px;max-width:80%;">{{item.da}}  </pre>
                        </div>
                        <div class="layui-clear"></div>
                        <table style="width: 100%;" v-if="duiLie.length>1">
                            <tr>
                                <td style="text-align: right;border:0px; padding:  10px 0;">
                                    <span v-if="key>0 && item.cxaddtime"> <a
                                            @click="history=0; Info.wen=item.wen;  Info.cxtitlecn1=item.cxtitlecn1; tiJiaoWenTi(); history=1;"
                                            class="layui-btn layui-btn-normal layui-btn-sm">生成其它答案</a></span>
                                    <span style="font-weight:500; color:#999; font-size: 12px;"
                                        v-if="item.cxaddtime">[{{item.cxaddtime}}]</span>
                                    <span style="font-weight:500; color:#999;font-size: 12px;"
                                        v-if="item.hsTime">[{{item.hsTime}} s]</span>

                                </td>
                            </tr>
                        </table>
                        <div v-if="tiWenZhong==true && key==((duiLie.length)-1)">
                            <blockquote class="layui-elem-quote layui-quote-nm">
                                <span style="color: red;">%<span style="font-weight:500; color:#666;"
                                        v-if="that.hsTime>0 && key==(duiLie.length-1)">[ {{that.hsTime}}
                                        s]</span><br></span>

                                <span v-if="that.hsTime>0 && key==(duiLie.length-1) && that.hsTime>40"></span>

                            </blockquote>
                        </div>
                        <div v-if="item.time>0">
                            [{{item.time}} 秒后自动重试]
                        </div>
                    </td>
                </tr>
            </table>


            <div v-html="dd"></div>
            <div style="height:250px;"></div>



            <table class="layui-table"
                style="position: fixed;    bottom: 0px;    left: 0px;    width: 100%;margin:0px;">
                <tr>
                    <td>
                        <div style="float:left; width: 80%; overflow: hidden;">
                            <input style="padding-right: 15px;" class="layui-input" type="text" placeholder="来说点什么吧"
                                v-model="Info.wen" @keyup.enter="tiJiaoWenTi()">
                        </div>
                        <div style="float:left; width: 20%;  overflow: hidden;">
                            <a @click="tiJiaoWenTi()" style="width: 100%;" class="layui-btn layui-btn-normal">提交</a>
                        </div>
                        <div class="layui-clear"></div>

                    </td>
                </tr>
            </table>

        </div>



    </div>
    <script src="./src-main/objects/kernel.js"></script>
</body>

</html>